language: php
php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
services:
  - mysql
  - memcached
sudo: false
before_install:
  - if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then phpenv config-add tests/config.ini; fi;
  - if [[ "$TRAVIS_PHP_VERSION" != "nightly" ]] && [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then phpenv config-rm xdebug.ini; fi;
install:
  - composer install
  - composer require doctrine/orm ~2.5
  - composer require twig/twig ~1.16
before_script:
  - if [ $DB = 'mysql' ]; then mysql -e 'create database psx;'; fi;
  - ( if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php -S 127.0.0.1:8000 tests/PSX/Http/Server.php; fi; ) &
  - sleep 4
script:
  - vendor/bin/phpunit
env:
  - DB=mysql
  - DB=sqlite
