<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" backupGlobals="true">
	<testsuites>
		<testsuite name="PSX Test Suite">
			<directory>./library/PSX/*/Tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./library/PSX</directory>
			<exclude>
				<directory>./library/PSX/*/Tests</directory>
                <directory>./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<!-- <env name="DB" value="sqlite" /> -->
	</php>
</phpunit>
